body {
    font-family: Arial, sans-serif;
  }
  
  header,
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
  }
  
  .productos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: 2em 0;
  }
  .aritos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: 2em 0;
  }
  .collares {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: 2em 0;
  }
  .producto {
    text-align: center;
    border: 1px solid #ccc;
    padding: 1em;
    width: calc(33.33% - 10px); 
    margin-bottom: 20px; 
  }
  
  .producto img {
    max-width: 100%;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
  }
  
  .carrito {
    border: 1px solid #ccc;
    padding: 1em;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
  }
  
  .carrito ul {
    list-style-type: none;
    padding: 0;
  }
  
  .producto-carrito {
    cursor: pointer;
  }
  
  .producto-carrito:hover {
    background-color: #f0f0f0;
  }

  .fondo {
    background-color: rgb(223, 176, 126);
    margin: 0;
    padding: 0;
  }